<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.17.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.MSEdgeDriver" version="120.0.2210.144" targetFramework="net48" />
</packages>