<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="appurl" value="https://ebianalytics.conedison.net/ui/analytics/saw.dll?PortalGo&amp;Action=prompt&amp;path=%2Fshared%2F0.%20Public%20Shared%2FSuper%20Users%2FFinance%2FProject%20Accounting%20%26%20Billing%2FTEAM%20L2s"/>
		<add key="downloadpath" value="C:\Users\TALLAPANENIN\Consolidated Edison Company of New York, Inc\Internal Materials - Initiative Information\Fleet Wave\OracleBi Data"/>
	</appSettings>
</configuration>